* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 30px;
}

.article{
    font-size: 20px;
}

.credit{
    font-size: 15px;
}

.penulis{
    color: brown;
}

.tanggal {
    color: darkblue;
}

#article-1 {
    color: darkgoldenrod;
}

p>span {
    color: blueviolet;
}

h3+p {
    color: grey;
    font-size: 14px;
}

h1~p{
    text-align: justify;
}